* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}

.todo-outerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.todo-innerContainer {
  width: 400px;
  height: 600px;
  box-shadow: 0px 1px 1px 0px rgba(100,100,100,0.75);
  position: relative;
}

.todo-heading {
  font-weight: normal;
  text-align: center;
  color: white;
  padding: 50px 40px;
  background: #e74c3c;
}

.todo-form {
  border-bottom: 1px solid rgba(100,100,100,0.15);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.todo-form-input {
  padding-left: 40px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.todo-form-input-text {
  width: 60%;
}

.todo-form-input-button {
  padding: 20px;
  margin-right: 20px;
  background: url('images/add.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.todo-form-input-button:hover {
  opacity: 0.8;
}

.todo-form-input::-webkit-input-placeholder {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: #bababa;

}

.todo-listitem:first-child {
  list-style-type: none;
  padding-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.todo-listitem {
  list-style-type: none;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todo-listitem-text {
  margin-right: auto;
  width: 50%;
  overflow-wrap: break-word;
}

.todo-listitem-deleteIcon {
  margin-left: 10px;
}

.todo-listitem-editIcon {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}

.todo-listitem-deleteIcon, .todo-listitem-editIcon {
  width: 18px;

}

.todo-listitem-deleteIcon:hover, .todo-listitem-editIcon:hover {
  opacity: 0.5;
}

.todo-listitem-deleteButton, .todo-listitem-editButton {
  background: none;
  border: none;
  margin-right: 10px;
}

.todo-listitem-checkboxContainer {
  margin-right: 18px;
  margin-left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #e74c3c;
  color: white;
  text-align: center;
  cursor: pointer;
}

.todo-listitem-checkboxContainer.checked {
  background: #e74c3c;
}


.edit {
  font-style: italic;
  color: #bababa;
  outline: none;
  border: 0.2px solid #e4e4e4;
  padding: 10px 10px;
}

select {
  position: absolute;
  bottom: 0;
  /* General styling */
  height: 65px;
  width: 100%;
  border: none;
  padding-left: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  background-color: white;

  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Positions background arrow image */
  background-image: url('./images/little-down-triangular-arrow.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 350px center;
  font-weight: 100;
  margin-bottom: 10px;
  outline: none;
}

.strike {
  text-decoration: line-through;
  color: #bababa;
}
